---
import Nav from './Nav.astro';
import { Image } from 'astro:assets';
import ArrowImage from '../assets/images/icon-arrow-down.svg';
---

<section id="home" class="Hero">
    <Nav />
    <h1 class="Hero__title">WE ARE CREATIVES</h1>
    <Image decoding="async" src={ArrowImage} alt="arrow down" />
</section>

<style lang="scss">
    .Hero {
      width : 100vw;
      height : 100vh;
      min-height: 30rem;
      background-image: url('/image-header.jpg');
      background-size: cover;
      background-repeat: no-repeat;
      background-position-x: center;

      display: flex;
      flex-direction: column;
      align-items: center;

      &__title {
        font-family: 'Fraunces', sans-serif;
        color: var(--white);
        font-weight: 900;
        letter-spacing: 1rem;
        font-size: 3.5rem;
        margin-top: 9%;
        text-align: center;

        @media screen and (orientation: portrait) and (max-width: 800px) {
          font-size: 2rem;
          max-width: 100vw;
        }
      }

      img {
        margin-top: 5%;
        width : auto;
        height : 8rem;
      }
    }
</style>