---
import { Image } from "astro:assets";

import gallery1 from '../assets/images/desktop/image-gallery-cone.jpg';
import gallery2 from '../assets/images/desktop/image-gallery-milkbottles.jpg';
import gallery3 from '../assets/images/desktop/image-gallery-orange.jpg';
import gallery4 from '../assets/images/desktop/image-gallery-sugarcubes.jpg';
---

<section class="Images">
    <Image src={gallery2} alt="milk bottles" />
    <Image src={gallery3} alt="orange" />
    <Image src={gallery1} alt="cone" />
    <Image src={gallery4} alt="sugar cubes" />
</section>

<style lang="scss">
    .Images {
      width : 100vw;
      display: flex;

      @media screen and (orientation: portrait) and (max-width: 800px) {
        flex-wrap: wrap;
      }

      img {
        width : 25%;
        height: auto;

        @media screen and (orientation: portrait) and (max-width: 800px) {
          width : 50%;
        }
      }
    }
</style>