---
import {Image} from "astro:assets";
import Logo from '../assets/images/logo.svg';
import Hamburger from '../assets/images/icon-hamburger.svg';
---

<nav>
    <Image id="logo" src={Logo} alt="logo" decoding="async" />
    <button class="hamburger">
        <Image src={Hamburger} alt="hamburger menu button" />
    </button>

    <div class="links">
        <a href="/">About</a>
        <a href="/">Services</a>
        <a href="/">Projects</a>
        <a id="contact" href="/">CONTACT</a>
    </div>

    <div class="hamburgerMenu">
        <a href="/">About</a>
        <a href="/">Services</a>
        <a href="/">Projects</a>
        <a id="contactMenu" href="/"><span>CONTACT</span></a>
    </div>
</nav>

<script src="../utils/hamburger.ts"></script>

<style lang="scss">
    nav {
      width : 100vw;
      height: 15%;
      min-height: 5rem;

      display: flex;
      justify-content: space-between;
      align-items: center;
      padding : 3rem;
      padding-right: 3rem;

      .hamburgerMenu {
        display: none;

        @media screen and (orientation: portrait) and (max-width: 850px) {
          display: flex;
        }

        flex-direction: column;
        align-items: center;
        justify-content: center;

        position: fixed;
        width : 80vw;
        margin-top : 25rem;
        background-color: var(--white);
        padding-top: 2rem;
        padding-bottom: 2rem;

        @media screen and (max-width : 499px) {
          width : 78vw;
        }

        @media screen and (min-width : 600px) {
          width : 88vw;
        }

        a {
          text-decoration: none;
          font-family: 'Barlow', sans-serif;
          padding : 1rem;
          padding-top: 1.25rem;
          padding-bottom: 1.25rem;
          color: var(--darkGrayishBlue)
        }

        #contactMenu {
            span {
              background-color: var(--yellow);
              color: black;
              font-family: 'Fraunces', sans-serif;
              padding: 1rem;
              border-radius: 2rem;
            }
        }
      }

      .hamburger {
        display: none;

        border: none;
        background-color: transparent;
        cursor: pointer;

        img {
          width : 2.5rem;
          height: auto;
        }

        @media screen and (orientation: portrait) and (max-width: 850px) {
          display: block;
        }
      }

      .links {

        @media screen and (orientation: portrait) and (max-width: 850px) {
          display: none;
        }

        a {
          text-decoration: none;
          font-family: 'Barlow', sans-serif;
          color: var(--white);
          font-size : 1.2rem;
          margin-left : 3rem;
          font-weight: 400;
        }

        #contact {
          font-family: "Fraunces", sans-serif;
          color: black;
          background-color: var(--white);
          border-radius: 2rem;
          padding : 1rem;
          font-size: 18px;

          transition: background-color 250ms, color 250ms;
        }

        #contact:hover {
          background-color: rgba(255,255,255,0.25);
          color: var(--white);
        }
      }

      #logo {
        width : auto;
        height: 50%;

        @media screen and (orientation: portrait) and (max-width: 850px) {
          width : 6rem;
          height: auto;
        }
      }
    }
</style>